/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
    font-family: 'Noot'; /*a name to be used later*/
    src: url('Noot.ttf'); /*URL to font*/
}



body {
    background: #69d1c5;
    color: black;
    font-family: 'Noot'; 
}
 .p1{
    font-family: 'BlackOpsOne';
    font-size: 20px;
    
 }

 .p2{
    font-size: 20px;
    color: red;
    font-family: 'BlackOpsOne';
 }

.p3{
    color: red;
    font-family: 'BlackOpsOne';
}

main h1 {
    margin-left: 20px;
}

#body{
    display: flex;
    flex-direction: row;
}
.responsive1{
    
    width: 45%;
}

.responsive2{
   
    width: 45%;
}

.responsive5{
    float: right;
    width: 100%;
}

main {
    margin: 20px;
}

.responsive3{
   float:right;
  
}



section#first{
    float: left;
    width: 40%;
    font: 'BlackOpsOne';
}

section#second{
    float:right;
    width: 40%;
    font:'BlackOpsOne';
}

section#third{
    float:left;
    width: 40%;
}

section#fourth{
    float:right;
    width: 40%;
}

section#five{
    float:right;
    width: 40%;
}

section#six{
    float:left;
    width: 40%;
}



iframe{
    margin: 20px;
}

header {
    display:flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    background-color:  #ec0b43;
    padding: 20px;
    color: white;

}

.main {
    background:none; 
    color:black;
    margin-left: 485px;
    position: sticky;
}

section{
	border: 1px solid black;
	padding: 10px;
	margin:20px;
    text-align: center;
}

.sign-in{
    background:none; 
    margin-left: 50px;
    margin-top: 100px;
    border: 0px;
    position:sticky;
}


ul{

    style: none;
    padding-left:10px;
	padding-bottom: 100px;
	float: center;
	

}

li{
    border: 1px solid black;
    display:inline
}


nav a{
    color:white;
    display: inline-block;
    background: #011936;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    border-width: 10px;
}

nav a:hover {
    color: #69d1c5;
}

figure{
    margin:0px;
    
}

img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
}

footer{
    color: black;
    clear: both;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */










/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

@media all and (max-width: 750px) {
	
	#container{
		width:auto;
		margin:auto;
		}	
	
	#body{
        flex-direction: column;
    }

    .responsive1{
        width: 90%;
    }
	
    .responsive2{
        width: 90%;
    }
}


/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	#container{
		width:auto;
		margin:auto;
		}	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#container{
		width: 1000px;
		margin:auto;
		}	

	
	
} /* closes 1024px+ */



